@import "../scss/variables.module.scss";
@import "../scss/mixins.module.scss";

.About {
	padding-top: 4rem;
	background-color: #1c1a1a;

	&__container {
		padding: 0 4rem;
		margin: 2rem 0;
		display: grid;
		gap: 3rem;

		@include media-size("small") {
			padding: 0 10rem;
		}

		@include media-size("large") {
			padding: 0 2rem;
			grid-template-columns: 2fr 3fr;
			grid-template-rows: repeat(2, 1fr);
		}

		@include media-size("extra-large") {
			padding: 0 10rem;
		}
	}

	&__content-image {
		width: 100%;
		display: flex;
		justify-content: center;
		@include media-size("large") {
			gap: 2rem;
			grid-row: span 2;
			grid-column: 2/3;
			padding: 3rem;
		}
	}
	&__photo {
		height: 15rem;
		width: 33.3%;
		object-fit: cover;
		transition: transform 0.3s;
		@include media-size("large") {
			height: 20rem;
		}
		&:hover {
			transform: scale(1.05);
		}
	}
	&__text {
		line-height: 2.2rem;
		text-align: center;
		font-size: 1.5rem;
		color: $dirty-white-color;
		@include media-size("large") {
			text-align: left;
		}
		&--first {
			place-self: end center;
		}
	}

	&__btn {
		display: inline-block;
		margin: 0 auto;
		@include media-size("large") {
			place-self: end center;
		}
	}
}
