@import "../../scss/mixins.module.scss";
@import "../../scss/variables.module.scss";

.Newsletter {
	position: relative;
	width: 100%;
	padding: 1rem;
	background: url("../../images/coffee-background.jpg") no-repeat center;
	background-size: cover;
	@include media-size("large") {
		display: flex;
		align-items: center;
		height: 10rem;
		padding: 0;
	}
}

.shadow {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.704);
}

.headingContainer {
	position: relative;
	@include media-size("large") {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 4rem 0 2rem;
		background-color: $black-color;
		clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
	}
	@include media-size("extra-large") {
		width: 35%;
	}
}

.heading {
	font-size: 1.8rem;
	font-weight: 400;
}
.group {
	margin: 2rem auto;
	position: relative;
	width: 80%;
	@include media-size("small") {
		width: 50%;
	}
	@include media-size("extra-large") {
		width: 30%;
	}
}
.input {
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem;
	border: none;
	border-radius: 100px;
}

.btn {
	height: 2.5rem;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.2rem;
	text-transform: capitalize;
}
