@import "../../scss/variables.module.scss";
@import "../../scss/mixins.module.scss";

.Testimonials {
	background-color: $secondary-color;
	padding: 1rem;

	&__heading {
		margin: 2rem;
		font-weight: 400;
		color: $black-color;
		transform: translateY(-2rem);
	}

	&__wrapper {
		position: relative;
	}

	&__container {
		overflow: hidden;
		// position: relative;
		height: 24rem;
		width: 18rem;
		margin: 0 auto;

		@include media-size("medium") {
			width: 39rem;
		}
		@include media-size("extra-large") {
			width: 60rem;
		}
		@include media-size("big") {
			width: 81rem;
		}
	}
	&__slider {
		// overflow: hidden;
		display: flex;
		gap: 3rem;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		// transform: translateX(calc(-100% - 3rem));
	}
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	&:first-of-type {
		left: 0;
	}
	&:last-of-type {
		right: 0;
	}
}
