@import "./variables.module.scss";

.btn {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	color: $white-color;
	border: 0;
	border-radius: 15px;
	text-decoration: none;
	transition: transform 0.3s;

	cursor: pointer;
	&--yellow {
		background-color: $secondary-color;
	}

	&:hover,
	&:focus {
		transform: scale(1.03);
		box-shadow: 0 0 3px $secondary-color;
	}
}
