$breakpoints: (
	"small": (
		min-width: 576px,
	),
	"medium": (
		min-width: 776px,
	),
	"large": (
		min-width: 992px,
	),
	"extra-large": (
		min-width: 1400px,
	),
	"big": (
		min-width: 1600px,
	),
);

@mixin media-size($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin backdrop-header {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(19, 18, 18, 0.233);
	z-index: -1;
}
